body {
  margin: 0;
  background-color: #FFF0DC;
  height: 3000px;
  font-family: Cormorant Garamond, serif;
}

.company-logo {
  width: 50px;
  border-radius: 100%;
}

.featured-heading {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #F0BB78;
  justify-content: center;
  color: #131010;
  font-family: 'Courier New', Courier, monospace;
}

.featured-catalogue {
  display: flex;
  flex-direction: column;
}

.featured-product {
  font-family: serif;
  margin-top: 10px;
  display: flex;
  transition: box-shadow 0.4s;
  flex: 1;
  background-color: #FCFAEE;
}

.featured-product:hover {
  box-shadow: 1px 1px 4px black;
}

.product-image {
  object-fit: cover;
}

.product-name {
  margin: 0;
  font-size: 20px;
}

.product-price {
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  margin: 0;
  margin-top: 10px;
}

.fproduct-image-container {
  display: flex;
  height: 200px;
}

.fproduct-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding : 20px 20px;
}

.fproduct-options {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex: 1;
}

.action-button {
  cursor: pointer;
  font-family: Cormorant Garamond, serif;
  padding: 10px 10px;
  font-weight: 700;
  border: solid 1px rgba(0, 0, 0, 0.8);
  border-radius: 17px;
  transition: translate 0.3s, box-shadow 0.3s;
}

.action-button:hover {
  translate: -3px -3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.action-button:active {
  translate: 0px 0px;
  box-shadow: none;
}

.buy-button {
  background-color: gold;
}

.add-to-cart {
  background-color: silver;
}