body {
  margin: 0;
  color: black;
  font-family: serif;
  padding-bottom: 10px;
}

.company-logo {
  width: 130px;
  border-radius: 100%;
  object-fit: cover;
  height: 70px;
}

.login-button {
  border: none;
  background: transparent;
  font-family: serif;
  height: 100%;
  cursor: pointer;
  font-size: 21px;
  font-weight: 500;
  color: gold;
}

.login-button:hover {
  color: white;
}

.slideshow {
  width: 100%;
  position: relative;
  height: 390px;
}

.next-slide, .prev-slide {
  position: absolute;
  top: 40%;
  height: 80px;
  font-size: 17px;
  border: none;
  background-color: rgba(0, 0, 0, 0.44);
  color: white;
  cursor: pointer;
  transition: all 0.6s;
  border-radius: 8px;
}

.next-slide:hover, .prev-slide:hover {
  background-color: gold;
  color: black;
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

.featured-heading, .products-heading {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #39362e;
  justify-content: center;
  color: #131010;
  font-family: serif;
  font-weight: 500;
  color: gold;
}

.featured-catalogue, .products-catalogue {
  display: grid;
  margin: 20px 20px;
  row-gap: 17px;
  grid-template-columns: auto auto auto;
}

.featured-product, .product-container {
  font-family: serif;
  display: flex;
  transition: all 0.4s;
  background-color: rgba(240, 188, 120, 0.564);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  width: 380px;
  height: 380px;
  position: relative;
}

.product-details-layer {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.44);
  color: gold;
  width: 100%;
  height: 0;
  border-radius: 8px;
  transition: height 0.62s, opacity 0.8s;
}

.featured-product:hover, .product-container:hover{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.797);
  transform: scale(1.011);
}

/*adding a div (product-details-layer) over the targeted element when the pointer hovers over it */
.featured-product:hover .product-details-layer, .product-container:hover .product-details-layer{
  opacity: 1;
  height: 100%;
}

.product-image {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
}

.product-description {
  margin-top: 10px;
}

.fproduct-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding : 10px 10px;
}

.fproduct-options {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.action-button {
  cursor: pointer;
  font-family: serif;
  padding: 10px 10px;
  font-weight: 600;
  border: none;
  border-radius: 11px;
  transition: translate 0.3s, box-shadow 0.3s;
}

.action-button:hover {
  translate: -3px -3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.555);
}

.action-button:active {
  translate: 0px 0px;
  box-shadow: none;
}

.buy-button {
  width: 190px;
  height: 80px;
  background-color: white;
  border: none;
}

.add-to-cart {
  background-color: rgba(61, 255, 58, 0.628);
}

footer {
  margin-top: 40px;
}