
body {
    font-family: serif;
    font-size: 14px;
    background-color:#F3CA9F;
    margin:0;
    padding:0;
}
/*heading style*/
.blog-head h1{
    font-size:50px;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 10px; /*space between header and content*/
    color:#e97451;
    padding:8px;
    letter-spacing:2px; /*space between letters*/
    text-shadow: 2px 2px 2px #f5eeee; /*subtle shadow effect*/
}
.blog-head h2{
    font-size: 23px;
    font-family: serif;
    background-color: #ad53374d;
    width:100%;
    margin: 0;
    text-align: center;
    text-shadow:2px 2px 2px #fffcfc;
}
/*container style*/
.container img{
    width: 100%;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    
}
.content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.397);
    font-size: 10px;
    border-radius: 8px;
   
}
.content h1{
    font-size: 30px;
    font-style:normal;
    color: #b87333;
    margin: 10px;
}
.content p{
    font-size: 20px;
    margin: 10px;
    text-align: justify;
}
.container2{
    display: flex;
    margin-top: 10px;
    flex:1;
    background-color: rgba(255, 255, 255, 0.397);
}
.content1 h1{
    font-size: 35px;
    font-style:normal;
    color: #b87333;
    margin: 20px;
   
}
.content1 p{
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}
.content1{
    font-size: 20px;
    width:100%;
}
.content1 img{
    width: 90%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin:10px;
    
}
.content2 h1{
    font-size: 30px;
    font-style:normal;
    color: #b87333;
    margin: 20px;
    text-align: center;
}
.content2 h2{
    font-size: 20px;
    color: #020100;
    margin: 10px;
}
.content2 p{
    font-size: 18px;
    margin:5px;
    text-align: justify;
   
}
.content2{
    font-size: 20px;
    border-radius: 8px;
    margin:10px;
    width:70%;
    background-color: rgba(244, 165, 96, 0.288);
    
}
/*footer style*/
.footer{
    text-align: center;
    margin: 0;
    background-color: #b4743f;
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-table{
    width: 100%;
    margin: 0;
    padding: 0;

}

.footer-table p{
    font-size: 15px;
    font-family: serif;
    text-align: center;
}
.footer-table td{
    margin-bottom: 10px;
    vertical-align: top;
    padding: 10px;
    font-weight: bold;
}
.footer-table ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-table ul li{
    margin-bottom: 10px;
}
.footer a{
    color:#000000;
}
.footer-end {
    text-align: center; /* Center the copyright text */
}

.sns{
   display: flex;
   justify-content: flex-end;
   text-align: left;
}


