/*Global Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
    font-size: 14px;
    background-color:#F3CA9F;
    margin:0;
    padding:0;
    

}
/*navigation style*/
nav a {
    color: #bd8334;
    text-decoration: none;
}
  .logo-container{
    position: relative;
    overflow: hidden;
}
a {
    text-decoration: none;
    font-family: serif;
    color: black;
    font-size: 21px;
    font-weight: 500;
    transition: color 0.44s;
    text-align: center;
    height: 100%;
    justify-content:center;
    align-items:center;
}

a:hover {
color: gold;
}

.nav-links {
    list-style: none; /* Remove bullet points */
    display: flex; /* Align items in a row */
    justify-content: space-between; /* Center the links */
    align-items: center;
}

.company-logo {
    width: 200px;

  }

  .nav-links li {
    margin:  55px; /* Space between links */

}
.nav-links a {
    text-decoration: none; /* Remove underline */
    color: rgb(11, 11, 11); /* Text color */
    font-size: 18px; /* Font size */
    transition: color 0.3s; /* Smooth color transition */
   
}
.nav-links a:hover {
    color: #ffcc00; /* Change color on hover */
}
a {
    text-decoration: none;
    cursor:pointer;
    position: relative;
    padding: 8px 15px;
    font-weight: bold;
}

a:hover{
    color:rgb(255, 255, 255);
}
/*heading style*/
header h1{
    font-size:50px;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 10px; /*space between header and content*/
    color:#e97451;
    padding:8px;
    letter-spacing:2px; /*space between letters*/
    text-shadow: 2px 2px 2px #f5eeee; /*subtle shadow effect*/
}
header h2{
    font-size: 23px;
    font-family: serif;
    background-color: #ad53374d;
    width:100%;
    padding:8px;
    text-align: center;
    text-shadow:2px 2px 2px #fffcfc;
}
/*container style*/
.container img{
    width: 100%;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    
}
.content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.397);
    font-size: 10px;
    border-radius: 8px;
   
}
.content h1{
    font-size: 30px;
    font-style:normal;
    color: #b87333;
    margin: 10px;
}
.content p{
    font-size: 20px;
    margin: 10px;
}
.container2{
    display: flex;
    margin-top: 10px;
    flex:1;
    background-color: rgba(255, 255, 255, 0.397);
}
.content1 h1{
    font-size: 30px;
    font-style:normal;
    color: #b87333;
    margin: 10px;
   
}
.content1 p{
    font-size: 20px;
    margin: 20px;
}
.content1{
    font-size: 20px;
}
.content1 img{
    width: 85%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin:10px;
    
}
.content2 h1{
    font-size: 24px;
    font-style:normal;
    color: #b87333;
    margin: 20px;
    text-align: center;
}
.content2 h2{
    font-size: 20px;
    color: #020100;
    margin: 10px;
}
.content2 p{
    font-size: 18px;
    margin:20px;
   
}
.content2 img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin:10px;
    
}
.content2{
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin:0;
}
/*footer style*/
.footer{
    text-align: center;
    margin: 0;
    background-color: #b4743f;
    display: flex;
    width: 100%;
}
.footer-table{
    width: 100%;
    margin: 0;
    padding: 0;

}

.footer-table p{
    font-size: 15px;
    font-family: serif;
    text-align: center;
}
.footer-table td{
    margin-bottom: 10px;
    vertical-align: top;
    padding: 10px;
    font-weight: bold;
}
.footer-table ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-table ul li{
    margin-bottom: 10px;
}

.sns{
   gap:10px;
   display: flex;
   justify-content: left;
   text-align: left;
}
.sns a, .sns img{
    margin: 0;
    padding: 0;
}
.footer h3{
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}


