body{
    background-color:#9cb1df;
    font-family: sans-serif;
    padding:20px;
    align-items: center;
    margin:0;
    color:#000000;
    margin-inline:450px;
    
    }
    
    h1{
        font-size: 40px;
        font-family:'Times New Roman',serif;
        font-weight:bold;
        font-style:italic;
       text-align: center;
        background-color:#eeba7e;
        margin:0;
        
    }
    h2{
        font-size: 15px;
        font-family:'Times New Roman',serif;
        background-color:#eeba7e;
        text-align: center;
        
    }
    .form-container{
        width:500px;
        padding:20px;
        
        background-color: rgb(255, 255, 255);
        
        border-radius:8px;
        margin: auto;
    }
    label{
        
        margin-top: 10px;
        
    }
    
    *{
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
    input[type="text"],input[type="email"] ,input[type="number"],
    textarea, select{
        width: 100%;
        height:auto;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border:1px solid #000000;
       display: inline-block;

    }
    input[type=text]:focus, input[type=email]:focus{
        background-color: #dfdcdc;
        outline:none;
    }
    

    button:hover{
    background-color: #cc3232;
    cursor: pointer;
    
    
    }
    button{
        padding:10px 15px;
        text-align: center;
        border:2px;
        width: 50%;
        margin-inline:110px ;
        background-color:#d3923c;
        font-weight:bold;
        color: #ffffff;
    }
    
   a{
    text-align:center;
    justify-content:center;
    background-color: #9260ca;
    padding:8px;
    margin-top: 10px;
    text-decoration: none;
    color:#ffffff;
    width:fit-content;
    border-radius:8px;
    display: block;
    
   }
   a:hover{color:#000000}