body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #f5c796;
    margin:0;
    padding:0;

}
.navbar{
    background-color: #f5f5dc;
    height:62px;
    justify-content:center;
    align-items: center;
    font-size:21px;
    font-weight:bold ;
    font-family: serif;
    padding: 8px ;
    
}
.nav-links{
    list-style:none; /*removes bullet points*/
    display:flex;
    justify-content:space-between; /*center the links*/
    align-items:center;
    flex:1;
}
.nav-links li{
    margin: 55ppx; /*space between links*/
}
.nav-links a{
    text-decoration:none;/*removes underline*/
    color:rgb(11, 11, 11);
    font-size:18px;
    transition:color 0.3s;/*smooth color transition*/
}
.nav-links a:hover{
color:#eba64d;
}



header{

    text-align:center;
}
h1{
font-size:40px;
font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-style:italic;
    text-align: center;
}


img{
    width:1200px;
    height:800px;
    opacity: 100%;
    object-fit: cover;
    display:block;
}
.card {
    background: rgba(0, 0, 0, 0.264);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    margin-top: 100px;
    align-content:end ;
    float: left;
    transition: transform 0.2s;
    cursor: pointer; /* Change cursor to pointer */
}
.card img {
    width: 70%;
    height: auto;
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     
}

.card:hover {
    transform: scale(1.05);
}

.survey a:hover{color:#8c00ff}
